// Define the modified color-map

$light:		#B6B1B3;
$dark:		#506B9B;
$primary:	#527AAF;
$secondary:	#25244C;
$success:	#5fa670;
$info:		#282d57;
$warning:	#dc9638;
$danger:    #f44336;

$diamond-color: $gray-200;

$headings-color: 	$dark;

$reel-logo-color-1:	$primary;
$reel-logo-color-2:	darken($primary, 20%);
$reel-logo-color-3:	$gray-700;
