<h4 class="text-decoration-none">
	<a id="email" href="mailto:honeypot@reel.lu">
		<i class="fa fa-envelope"></i></a>&emsp;
	<a href="https://www.facebook.com/REELluxem/" target="_blank">
		<i class="fab fa-facebook"></i></a>&emsp;
	<a href="https://www.instagram.com/reelmuenchen2020/" target="_blank">
		<i class="fab fa-instagram"></i></a>&emsp;
	<a href="https://www.linkedin.com/company/reel-r%C3%A9union-europ%C3%A9enne-des-%C3%A9tudiants-luxembourgeois/" target="_blank">
		<i class="fab fa-linkedin"></i></a>
</h4>
<p>1984 - {{ "now"|date("Y") }} &mdash; Réunion Européenne des Étudiants Luxembourgeois asbl.</p>
