<div class="container mb-5 text-center">
    <div class="row row-cols-2 row-cols-md-3 justify-content-evenly align-items-center">
    {% for sl in grav.theme.config.sponsors.large|keys %}
        <div class="col my-3">
            <div class="bg-white rounded p-3">
            	 <a href="https://{{ grav.theme.config.sponsors.large[sl] }}" target="_blank"><img src="{{ url("theme://sponsors/#{sl}.svg") }}"></a>
            </div>
        </div>
    {% endfor %}
    </div>
    
    <div class="row row-cols-4 row-cols-md-6 justify-content-evenly align-items-center">
    {% for sm in grav.theme.config.sponsors.medium|keys %}
        <div class="col my-3">
            <div class="bg-white rounded p-3">
            	 <a href="https://{{ grav.theme.config.sponsors.medium[sm] }}" target="_blank"><img style="max-height:80px; max-width:100%" src="{{ url("theme://sponsors/#{sm}.svg") }}"></a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
