{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1><i class="bi-bug-fill"></i> Error <i class="bi-bug-fill"></i></h1>
        {{ page.content|raw }}
    </div>
{% endblock %}
