{% extends 'partials/base.html.twig' %}

{% block content %}
<h1>{{ page.title }}</h1>

<div class="container-xl">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
    {% for entry in page.content|split('<hr />') %}
	<div class="col p-sm-4">
		{{ entry|raw }}
	</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
