{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="row justify-content-between">
    <div class="col-9 col-md-5 col-lg-4">
        <div class="reel-logo"></div>
    </div>
    <div class="col-12 col-md-7 my-md-auto mt-5">
        {{ page.content }}
    </div>
</div>
{% endblock %}
